
* {
	box-sizing:  border-box;
}

:root {
	--siteColor-lightgrey:  #ededed;
}

html {
	background-color: var(--siteColor-lightgrey, white);
}

body {
	line-height: 1.5;
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.action-btns .btn {
	margin-right: 25px;
	margin-bottom: 50px;
}

.weatherData-container {
	margin-bottom: 20px;
}
