
* {
	box-sizing:  border-box;
}

:root {
	--siteColor-darkgrey:  #2b2d3c;
}

html {
	background-color: var(--siteColor-darkgrey, gray);
}

body {
	line-height: 1.5;
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}